1 VERSIONINFO
FILEVERSION 1,0,1,0
PRODUCTVERSION 1,0,1,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "DS2 Mods Community\0"
            VALUE "FileDescription", "DS2 Off-road Pickup Cargo Capacity Expansion\0"
            VALUE "FileVersion", "1.0.1.0\0"
            VALUE "InternalName", "PickupCargoCapacity\0"
            VALUE "LegalCopyright", "Copyright (c) 2026\0"
            VALUE "OriginalFilename", "PickupCargoCapacity.asi\0"
            VALUE "ProductName", "DS2 Pickup Cargo Capacity\0"
            VALUE "ProductVersion", "1.0.1.0\0"
            VALUE "Comments", "Open-source in-process game mod; no networking or persistence\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
