#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,1,0
 PRODUCTVERSION 1,0,1,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "DS2 Mods"
            VALUE "FileDescription", "Sneaky Sam - Hidden Shoulder and Hip Cargo"
            VALUE "FileVersion", "1.0.1"
            VALUE "InternalName", "DS2_SneakySam"
            VALUE "OriginalFilename", "DS2_SneakySam_v1.0.1.asi"
            VALUE "ProductName", "Sneaky Sam"
            VALUE "ProductVersion", "1.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
