#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,1,0,1
 PRODUCTVERSION 1,1,0,1
 FILEFLAGSMASK 0x3fL
 FILEFLAGS VS_FF_PRERELEASE
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "DS2 Mods"
            VALUE "FileDescription", "Sam Overhaul (development build)"
            VALUE "FileVersion", "1.1.0-dev.1"
            VALUE "InternalName", "DS2_Sam_Overhaul"
            VALUE "OriginalFilename", "DS2_Sam_Overhaul_v1.1.0-dev.1.asi"
            VALUE "ProductName", "Sam Overhaul (development build)"
            VALUE "ProductVersion", "1.1.0-dev.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
