[HillAssist]
Enabled=1
GripPercent=400
MinimumFrictionPercent=175
AssistStartSlopeDegrees=6
FullAssistSlopeDegrees=22
MaximumFrictionPercent=800
StopAfterChangedEntries=14
ScanStartGroup=4300
ScanEndGroup=4800
